#our-team-section
{
    width: 100%;
    background-color: #F0F9D4;
    position: absolute;
    z-index: 5;
    padding-bottom: 25%;
    background-image: url("Images/bg13.png");
    background-color: #F5F5F5;
}

#our-team-title
{
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 5%;
    margin-left: 37%;
    font-size: 4vw;
    color: #414141;
}

#team-tile-container
{
    width: 90%;
    margin-left: 5%;
}

#team-left-tile
{
	margin-top: 5%;
	margin-left: 10%;
    width: 35%;
    float: left;
    background-color: #ffffff;
    padding-bottom: 27.5%;
    border-top: #386C74 solid 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#team-right-tile
{
	margin-top: 5%;
	margin-right: 10%;
    width: 35%;
    float: right;
    background-color: #ffffff;
    padding-bottom: 27.5%;
    border-top: #386C74 solid 5px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#team-boo-tile{
    margin-top: 20%;
	margin-right: 10%;
    width: 35%;
    float: right;
    background-color: #ffffff;
    padding-bottom: 27.5%;
    border-top: #386C74 solid 5px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#team-toop-tile{
    margin-top: 20%;
	margin-right: 10%;
    width: 35%;
    float: right;
    background-color: #ffffff;
    padding-bottom: 27.5%;
    border-top: #386C74 solid 5px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#team-bol-tile{
    margin-top: 20%;
	margin-right: 10%;
    width: 35%;
    float: right;
    background-color: #ffffff;
    padding-bottom: 27.5%;
    border-top: #386C74 solid 5px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#team-top-tile{
    margin-top: 20%;
	margin-right: 10%;
    width: 35%;
    float: right;
    background-color: #ffffff;
    padding-bottom: 27.5%;
    border-top: #386C74 solid 5px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.team-headshot
{
    width: 35%;
    margin-top: 10%;
    margin-left: 32.5%;
    border-radius: 50%;
}

.team-name-banner
{
    position: absolute;
    width: 20%;
    margin-left: 5%;
    margin-top: 0%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2.4vw;
    color: #366C75;
}


.team-name-bio
{
    position: absolute;
    width: 25%;
    margin-left: 3.5%;
    margin-top: 8%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.8vw;
    text-align: center;
    color: #414141;
}

.team-contact
{
    position: absolute;
    width: 31.5%;
    background-color: #ffffff;
    color: #414141;
    margin-left: 0%;
    margin-top: 24%;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 2.8vw;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    padding-bottom: 5%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

button {
   outline: unset;
   border: none;
   padding: 13px;
}

#navbar {
background: transparent;
color: #004d4d;
top: 0;
height: 60px;
line-height: 60px;
width: 100vw;
z-index: 10;
text-decoration: none;
}
.nav-wrapper {
margin: auto;
text-align: center;
width: 70%;
}
@media(max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
}
@media(max-width: 638px) {
    .nav-wrapper {
      width: 100%;
    }
  }
.logo {
float: left;
margin-left: 28px;
font-size: 1.5em;
height: 60px;
letter-spacing: 1px;
text-transform: uppercase;
} @media(max-width: 768px) {
  .logo {
/*       margin-left: 5px; */
  }
}
#navbar ul {
display: inline-block;
float: right;
list-style: none;
/* margin-right: 14px; */
margin-top: -2px;
text-align: right;
transition: transform 0.5s ease-out;
-webkit-transition: transform 0.5s ease-out;
}
 @media(max-width: 640px) {
  #navbar ul {
    display: none;
  }
}
@media(orientation: landscape) {
    #navbar ul {
      display: inline-block;
    }
  }
#navbar li {
display: inline-block;
font-size: 20px;
}
#navbar li a {
color: #006666;
display: block;
font-size: 0.9em;
height: 50px;
letter-spacing: 1px;
margin: 0 20px;
padding: 0 4px;
position: relative;
text-decoration: none;
text-transform: uppercase;
transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
}
#navbar li a:hover {
/* border-bottom: 1px solid rgb(28, 121, 184); */
color: rgb(28, 121, 184);
transition: all 1s ease;
-webkit-transition: all 1s ease;
}
/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
content: '';
position: absolute;
width: 0%;
height: 1px;
bottom: -1px;
background: rgb(13, 26, 38);
}
#navbar li a:before {
left: 0;
transition: 0.5s;
}
#navbar li a:after {
background: black;
right: 0;
text-decoration: none;
/* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}
#navbar li a:hover:before {
background: black;
width: 100%;
transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
text-decoration: none;
}
#navbar li a:hover:after {
background: transparent;
width: 100%;
text-decoration: none;
}
.navigation {
padding-block-end : 100px;
}


















































