body {
    margin: 0;
    padding:0;
    width:100%;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    height:90vh;
    width: 100%;
    background-attachment: fixed;
}
.pattern{
    position: absolute;
    width: 60%;
    left: 20%;
    height: 100vh;
    background: url(https://i.postimg.cc/DZLGgkgm/bg2.png) no-repeat 50% 50%;
    z-index: -1;
    opacity: 0.5;
}
.nav{
    width: 100%;
    height: 80px;
    position: absolute;
}
.logo{
font-size: 20px;
line-height: 80px;
position: absolute;
margin: 0.2em 2em;
}
.menu{
    position: absolute;
    height: 80px;
    right: 120px;
}
.menu ul{
    list-style: none;
}
.menu ul li {
    display: inline-block;
    padding: 0 30px;
    margin: 1em 0;
    font-size: 15px;

}
.cart{
    position: fixed;
    font-size: 17px;
    line-height: 80px;
    right:20px;
    margin: 0.2em 2em;
}
.box-1{
    position: absolute;
    width: 60px;
    height: 60px;
    background: none;
    border: 2px solid orange;
    top:10%;
    left:15%;
    z-index: -1;
    transform: rotate(60deg);
}
.box-2{
    position: absolute;
    width: 120px;
    height: 120px;
    background: orange;
    top:53%;
    left:17%;
    z-index: -1;
    transform: rotate(-110deg);
}
.box-3{
    position: absolute;
    width: 100px;
    height: 100px;
    background: none;
    border: 2px solid orange;
    top:14%;
    left:67%;
    z-index: -1;
    transform: rotate(30deg);
}
.runner img{
    width: 18%;
    z-index: 2;
    margin-left: 7%;
    margin-top: 200px;
}
.title-2{
    position: absolute;
    top:50%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-style: italic;
    color:rgba(0,0,0, 0);
    font-size: 90px;
    z-index: -1;
    -webkit-text-stroke: 2px orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    opacity: 0;

}
.title-1{
    position: absolute;
    top:30%;
    left: 27%;
    padding-right: 20px;
    transform: translate(-50%, -50%);
    font-style: italic;
    color:orange;
    font-size: 90px;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    opacity:0;
}

.content{
    position: absolute;
    font-weight: lighter;
    font-size: 14px;
    color: grey;
    line-height: 20px;
    top:80%;
    left: 58%;
    width: 36%;
}
button{
    margin-top: 5px;
background: orange;
text-transform: uppercase;
color: #fff;
padding: 20px 30px;
letter-spacing: 2px;
font-size: 14px;
border: none;
}
.media{
    position: absolute;
    bottom:210px;
}
.media ul{
    position: absolute;
    list-style: none;

}
.media ul li{
    color:black;
    font-size: 18px;
    padding: 10px 0;
}


@media(max-width: 900px){
    .wrapper {
        background: url(https://i.postimg.cc/nLsBXQ94/bg.jpg) no-repeat 50% 50%;
        background-size: cover;
  }
/*
  .pattern {
        display: none;
  }

  .runner img {
        display: none;
  }

  .title-1, .title-2 {
        font-size: 50px;
  }

  .title-1 {
        left: 20%;
        top: 40%;
  }

  .title-2 {
        left: 50%;
        z-index: 1;
  }

  .menu {
        display: none;
  }

  .content p {
        display: none;
  }
*/
  .box-2 {
        top: 70%;
  }

  .content button {
        position: fixed;
        right: 3em;
        bottom: 4em;
        z-index: 1;
  }
}

svg.intro {

  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0 30px 50px -20px #2e0642;
  border-radius: 14px;
}
svg.intro .text {
  display: none;
}
svg.intro.go .text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: block;
}
svg.intro.go .text-stroke {
  fill: none;
  stroke: #51256f;
  stroke-width: 2.8px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  -webkit-animation: dash 2.5s ease-in-out forwards;
          animation: dash 2.5s ease-in-out forwards;
}
svg.intro.go .text-stroke:nth-child(2) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}
svg.intro.go .text-stroke:nth-child(3) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}
svg.intro.go .text-stroke-2 {
  stroke: rgb(245, 158, 51);
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
svg.intro.go .text-stroke:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
svg.intro.go .text-stroke:nth-child(6) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
.reload {
  position: absolute;
   top: 50%;
  right: 100px;
  background: #fff;
  border: none;
  border-radius: 20px;
  outline: none !important;
  font-size: 11px;
  line-height: 1.5;
  padding: 8px 12px;
  text-transform: uppercase;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 6px 7px #350e4c;
  transition: all 0.1s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.reload:hover {
  box-shadow: 0 4px 4px #350e4c;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.reload:active {
  box-shadow: 0 1px 2px #244B94;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.reload svg {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

/* block-quote */

.quote {
    text-align: center;
    font-size: 3rem;
    margin: auto;
    padding: 15px;
    border: 2px solid black;
    max-width: 60%;
    position: relative;
    margin-top: 30%;
}

blockquote {
    color: black;
    font-style: italic;
    position: relative;
    z-index: 10;
}

.left {
    position: absolute;
    top: -50px;
    left: -20px;
    width: 150px;
    text-align: left;
    z-index: 10;
    font-size: 5rem;
    color: grey;
    background-color: orange;
    line-height: 200px;
}

.right {
    position: absolute;
    bottom: -50px;
    right: -20px;
    width: 150px;
    text-align: right;
    z-index: 10;
    font-size: 5rem;
    color: grey;
    background-color: orange;
    line-height: 200px;
}

small {
    font-size: 1.5rem;
    color: grey;
    position: relative;
    z-index: 20;
}

small:before {
    content: "\2014 \0020";
    width: 5px;
}

