{{#partial "content"}}
    <section class="landing-pg">
         <div class="land-left"></div>
         <div class="land-right"></div>
         <div class="form">
          <form action="/newTeam" method="post">
           <div class="login left flex-box">
           <h1>Hi,</h1>
            <p>want to add Team Member,Please fill the form</p>

           </div>
           <div class="create-account left flex-box">

           </div>
           <div class="outer">
             <div class="inner flex-box">
               <div class="sign-in overlay-form flex-box">

               </div>
               <div class="sign-up overlay-form flex-box">


                             <h1>Team Member</h1>
                                 <input type="text" name="teamName" placeholder="Team Name">
                                 <input type="text" name="Name1" placeholder="Name1">
                                 <input type="text" name="Name2" placeholder="Name2">
                                 <input type="text" name="Name3" placeholder="Name3">
                                  <input type="text" name="Name4" placeholder="Name4">
                                  <button class="button-animate">Add</button>
               </div>
             </div>
           </div>

    </section>
{{/partial}}
{{> layout.hbs}}