{{#partial "content"}}
    <div class="wrapper">
        <div class="pattern"></div>
        <div class="nav">
            <div class="logo">
                <ion-icon name="heart-half"></ion-icon>
            </div>
            <div class="menu">
                <ul>
                    <li>Home</li>
                    <li>Teams</li>
                    <li>Projects</li>
                </ul>
            </div>
            <div class="cart">
                <ion-icon name="cart"></ion-icon>
            </div>

        </div>
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
        <div class="title-2">SMART</div>
        <div class="runner">
            <img src="https://i.postimg.cc/XqWC1HHL/runner.png" alt="">
        </div>
        <div class="title-1">CODE</div>
        <div class="content">
            <p>Hello, Everyone this is this a . </p>

            <button>START NOW</button>
        </div>
        <div class="media">
            <ul>
                <li>
                    <ion-icon name="logo-facebook"></ion-icon>
                </li>
                <li>
                    <ion-icon name="logo-instagram"></ion-icon>
                </li>
                <li>
                    <ion-icon name="logo-twitter"></ion-icon>
                </li>
                <li>
                    <ion-icon name="logo-youtube"></ion-icon>
                </li>
            </ul>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}