{{#partial "content"}}
    <div class="wrapper">
        <div class="pattern"></div>
        <div class="nav">
            <div class="logo">
                <ion-icon name="heart-half"></ion-icon>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li id="team">Teams</li>
                    <li><a href="/project">Projects</a></li>
                </ul>
            </div>
            <div class="cart">
                <ion-icon name="cart"></ion-icon>
            </div>

        </div>
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
        <div class="title-2">SMART</div>
        <div class="runner">
            <img src="/—Pngtree—abstract digital technology background_3527873 (1).png">
            <button></button>
        </div>
        <div class="title-1">CODE</div>
        <div class="content">
            <p>Hello, Everyone welcome to our hub and meet programmers in Rwanda </p>

            <button>START NOW</button>
        </div>
        <div class="DIA">
            <ul>
                <li>
                    <ion-icon name="logo-facebook"></ion-icon>
                </li>
                <li>
                    <ion-icon name="logo-instagram"></ion-icon>
                </li>
                <li>
                    <ion-icon name="logo-twitter"></ion-icon>
                </li>
                <li>
                    <ion-icon name="logo-youtube"></ion-icon>
                </li>
            </ul>
        </div>
    </div>
    <body>
    <div class="section first-section">
        <div class="container">
            <div class="row">
                <div class="row align-items-center justify-content-around">
                    <!-- column 1 -->
                    <div class="col-12 col-lg-5">

                        <img class="img-fluid" src="https://png.pngtree.com/element_origin_min_pic/17/03/02/2a60e6d5963ff7d7dc39e84c29043390.jpg" alt="Cat with Attitude">
                    </div>
                    <br><br>
                    <!-- column 2 -->
                    <div class="col-12 col-lg-5"><br><br>
                        <h2>A WORKING EGO WITH VISION</h2><br><br>
                        <p>It's true – programmers may have an attitude. But they're also determined, programmers have high ego and pride for their skill.They won't accept easily whenever you say their source codes are buggy or bad.<br>
                        Programmers are kinds of artists who always make a fantastic art by writing their thousand lines of codes.Their thinking might be different from others, precisely they think in more logical way than others.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--section second-section-->
    <section id="Diet">
        <div class="section second-section">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-5">
                        <br><br>
                        <h2 id="about">ABOUT US</h2><br>
                        <p>We are a group of young women that got involved in a coding journey together, Did you know this was intentionally made for you?<br> Well after discovering that our passion was coding
                            we decided to expose our talent<br> by providing possible solutions to you. enjoy the view. <br>trust your imagination by trusting us</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section second-section">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-12 col-sm-6 col-lg-3">
                        <img src="/—Pngtree—silhouettes of people running_62826.png" alt="tech">
                        <h3>Team work</h3>

                        <p>United Sense of Purpose. ...
                        Whole Greater Than Sum of Its Parts. ...
                        Working Together to Achieve a Goal. ...
                        Playing by the Rules. ...
                        Accountability as a Team.</p>

                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <img src="/—Pngtree—earth light efficiency network data_4893162.png" alt="tech">
                        <h3>Learning</h3>
                        <p>A sweet food that features sugar as the primary ingredient.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <img src="/—Pngtree—chalk brush texture decorative vector_3786413 (1).png" alt="tech">
                        <h3>UI</h3>
                        <p>A carefully calculated motivational device that may or may not exist.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <img src="/—Pngtree—abstract digital technology background_3527873 (1).png">
                        <h3>Back_end</h3>
                        <p>A piece of flavored ice or ice cream on a stick.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <img src="/—Pngtree—watercolor_3552532.png" width="150" >
    </div>
    <!--section third-section-->
    <div class="section third-section">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-12 col-md-5">
                    <h2>Always Curious</h2>
                    <p>What’s in this small box? What’s on top of this shelf? EeeekK cucumber!</p>
                    <a class="btn btn-lg btn-primary" href="#">Join a team</a>
                </div>

                <div class="col-12 col-md-5">
                    <img class="rounded img-fluid" src="/—Pngtree—earth light efficiency network data_4893162.png" alt="">
                </div>
            </div>
        </div>
    </div>

   <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="section fourth-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Get in touch .</h2>
                    <p>You only live once.</p>
                    <a class="btn btn-lg btn-primary" href="#team">Meet us</a>
                </div>
            </div>
        </div>
    </div>
  <div>
    <svg class="intro" viewbox="0 0 200 86">
        <text text-anchor="start" x="10" y="30" class="text text-stroke" clip-path="url(#text1)">Where</text>
        <text text-anchor="start" x="10" y="50" class="text text-stroke" clip-path="url(#text2)">Ideas</text>
        <text text-anchor="start" x="10" y="70" class="text text-stroke" clip-path="url(#text3)">Begin.</text>
        <text text-anchor="start" x="10" y="30" class="text text-stroke text-stroke-2" clip-path="url(#text1)">Where</text>
        <text text-anchor="start" x="10" y="50" class="text text-stroke text-stroke-2" clip-path="url(#text2)">Ideas</text>
        <text text-anchor="start" x="10" y="70" class="text text-stroke text-stroke-2" clip-path="url(#text3)">Begin.</text>
        <defs>
            <clipPath id="text1">
                <text text-anchor="start" x="10" y="30" class="text">Where</text>
            </clipPath>
            <clipPath id="text2">
                <text text-anchor="start" x="10" y="50" class="text">Ideas</text>
            </clipPath>
            <clipPath id="text3">
                <text text-anchor="start" x="10" y="70" class="text">Begin.</text>
            </clipPath>
        </defs
    </svg>
    <div>
        <button class="reload">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 92.33 45.33" style="enable-background:new 0 0 92.33 45.33;" xml:space="preserve">
    <path d="M70.598,16.753c-1.722-1.24-4.113-0.852-5.349,0.866c-1.242,1.716-0.853,4.113,0.865,5.35   c13.613,9.818,18.021,27.857,10.482,42.89c-4.082,8.138-11.088,14.202-19.726,17.066c-8.636,2.871-17.877,2.2-26.013-1.879   c-8.134-4.083-14.197-11.088-17.066-19.722c-2.866-8.642-2.197-17.877,1.886-26.014c4.958-9.89,14.458-16.779,25.413-18.429   c0.074-0.008,0.137-0.036,0.211-0.053l0.157,7.571c0.021,0.839,0.542,1.585,1.321,1.889c0.782,0.305,1.672,0.11,2.25-0.496   l10.904-11.379c0.794-0.828,0.764-2.142-0.062-2.933L44.492,0.577c-0.606-0.582-1.499-0.739-2.267-0.399   c-0.251,0.108-0.476,0.269-0.662,0.462c-0.372,0.389-0.585,0.919-0.579,1.479l0.151,7.212c-0.385-0.063-0.78-0.087-1.188-0.027   c-13.418,2.021-25.052,10.46-31.125,22.571C-1.499,52.451,6.85,77.584,27.424,87.901c5.989,3.005,12.362,4.429,18.646,4.429   c15.306,0,30.065-8.439,37.382-23.028C92.688,50.884,87.284,28.782,70.598,16.753z" fill="#404853"/></svg>
        </button>
    </div>


    <footer class="text-center">
        <small>Made by <a href="https://twitter.com/thorolas_lily" target="_blank" class="contact-details">SmartCodePro.
        </a>with &hearts; </small>
    </footer>
    </body>
  </div>
<script>
        $(function() {
  $('.intro').addClass('go');

  $('.reload').click(function() {
    $('.intro').removeClass('go').delay(200).queue(function(next) {
      $('.intro').addClass('go');
      next();
    });

  });
})
</script>
<style>

header {

  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/00/04/53/9556248b4747950.png");
  background-size: cover;
  background-position: center center;
  padding: 140px 0 100px;
  background-repeat: no-repeat;

}

@media (min-width: 576px) {
  header {
    padding: 200px 0;
  }
}

.first-section {
  background-color: #FBFBFB;
}
.first-section img {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .first-section img {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .first-section img {
    margin-bottom: 0;
  }
}

.section {
  padding: 60px 0 40px;
}

.first-section ul {
  background-color: #F7F9FC;
  border-radius: 8px;
  margin-top: 25px;
  padding: 30px 55px;
}

.first-section li {
  margin-bottom: 8px;
}

.second-section {
  background-color: #fff;
}
.second-section p {
  color: #9DA2A6;

}

.second-section img {
  height: 290px;
  margin: 25px 0 10px;
  width: 290px;
}

h1{
  color: #fff;
  font-size: 36px;
}
@media (min-width: 576px) {
  h1 {
    font-size: 48px;
  }
}
h2 {
  color: #000000;
}
h6{
 color: #fff;
}

h3 {
   text-align: center;
   font-family: 'Crimson Text', serif;
}

.third-section img {
  margin-top: 35px;
}

@media (min-width: 768px) {
  .third-section img {
    margin-top: 0;
  }
}
.fourth-section {
  background-color: #F0F8FF;
  background-image: url("https://vetsuccess.com/wp-content/uploads/2016/06/cats.png");
  background-repeat: repeat;
}

footer {
  background-color: #e8f4f1;
  padding: 20px;
}
</style>
{{/partial}}

{{> layout.hbs}}