
{{#partial "content"}}
    <section class="landing-pg">
         <div class="land-left"></div>
         <div class="land-right"></div>
         <div class="form">
          <form action="/Team" method="post">
           <div class="login left flex-box">
           <h1>Welcome</h1>
              <p>It's a pleasure to see you here, fill the form to add a team</p>


           </div>
           <div class="create-account left flex-box">
{{!--              <h1>Team Member</h1> --}}
{{!--              <input type="Name1" placeholder="Name1:"> --}}
{{!--              <input type="Name2" placeholder="Name2"> --}}
{{!--              <input type="Name3" placeholder="Name3"> --}}
{{!--              <input type="Name4" placeholder="Name4"> --}}
{{!--              <button class="button-animate">submit</button> --}}
           </div>
           <div class="outer">
             <div class="inner flex-box">
               <div class="sign-in overlay-form flex-box">
{{!--             <h1>Create a Team</h1> --}}
{{!--                                <input type="text" name="teamName"placeholder="Leader"> --}}
{{!--                                <input type="text" name="teamLeader" placeholder="Team Name"> --}}
{{!--                                <input type="text" name="email" placeholder="Email"> --}}
{{!--                                <input type="text" name="language" placeholder="language"> --}}
{{!--                          <button class="button-animate">Subscribe</button> --}}
               </div>
               <div class="sign-up overlay-form flex-box">
                 <h1>Create a Team</h1>
                        <input type="text" name="teamName" placeholder="Leader">
                        <input type="text" name="teamLeader" placeholder="Team Name">
                         <input type="text" name="email" placeholder="Email">
                          <input type="text" name="language" placeholder="language">
                          <button class="button-animate">Subscribe</button>
               </div>
             </div>
           </div>

    </section>
{{/partial}}
{{> layout.hbs}}
