{{#partial "content" }}
    welcome to members of team
{{/partial}}

<!--members.hbs.-->
{{#partial "content"}}


    <div class="container-team" xmlns="http://www.w3.org/1999/html">
        <h2 style="text-align: center;">Our Team</h2>
          <br>
        <h3 class="caption gray" style="text-align: center;"><strong>Meet the people who make awesome stuffs</strong></h3>
        <div class="at-section">

        </div><div data-column='3' class="at-grid">

        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="images/alice.jpg"/></div>
                <div class="at-user__name">Mugengano Alice</div>
                <div class="at-user__title"><strong>Mobile application</strong></div>
                <hr>
              <p>“The best thing about a boolean is even if you are wrong, you are only off by a bit.”</p>
            </div>
        </div>

        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="images/Blanca.png"/></div>
                <div class="at-user__name">Uwase Blandine</div>
                <div class="at-user__title"><strong>Mobile application</strong></div>
                 <hr>
                <p>“One of the best programming skills you can have is knowing when to walk away for awhile.” </p>
            </div>
        </div>

        <div class="at-column">
            <div class="at-user">
                <div class="at-user__avatar"><img src="images/grace.jpg"/></div>
                <div class="at-user__name">Grace</div>
                <div class="at-user__title"><strong>Mobile application</strong></div>
                <hr>
              <p>“So much complexity in software comes from trying to make one thing do two things.” </p>
        </div>


        </ul>
    </div>
    </div>
    </div>
    </div>
{{/partial}}

{{> layout.hbs}}