{{#partial "content" }}
    welcome to members of team
{{/partial}}

<!--members.hbs.-->

{{#partial "content"}}

    <div class="wrapper">
        <!--membre 1-->
        <div class="membre">
            <img src="images/wendy.jpg" alt="" >

            <div class="info">
                <h5 class="name">Ruzindana Wendy</h5>
                <p class="job">Mobile application</p>
            </div>

            <div class="overly top">
                <div class="middle">
                    <h5 class="name">Ruzindana Wendy</h5>
                    <p class="job">Mobile appplication</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellat nobis perspiciatis molestiae tempora quasi. Nulla.
                    </p>

                    <div class="social-icones">
                        <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--membre 2-->
        <div class="membre">
            <div class="img">
                <img src="images/grace.jpg" alt="" class="img">
            </div>
            <div class="info">
                <h5 class="name">Umutesi Grace</h5>
                <p class="job">Mobile application</p>
            </div>
            <div class="overly left">
                <div class="middle">
                    <h5 class="name">Umutesi Grace</h5>
                    <p class="job">Mobile application</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis perspiciatis molestiae tempora quasi.
                        Nulla.
                    </p>

                    <div class="social-icones">
                        <a href="#" class="icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <!--membre 3-->
        <div class="membre">
            <img src="images/chelsea.jpg" alt="">

            <div class="info to-top">
                <h5 class="name">Sangwa Chelsea</h5>
                <p class="job">Mobile application</p>
            </div>
            <div class="overly left">
                <div class="middle">
                    <h5 class="name">Sangwa Chelsea</h5>
                    <p class="job">Mobile application</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis perspiciatis molestiae tempora quasi.
                        Nulla.
                    </p>

                    <div class="social-icones">
                        <a href="#" class="icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="membre">
            <div class="img">
                <img src="images/odette.jpg" alt="" class="img">
            </div>
            <div class="info">
                <h5 class="name">Ahishakiye Odette</h5>
                <p class="job">Mobile application</p>
            </div>
            <div class="overly left">
                <div class="middle">
                    <h5 class="name">Ahishakiye Odette</h5>
                    <p class="job">Mobile application</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis perspiciatis molestiae tempora quasi.
                        Nulla.
                    </p>

                    <div class="social-icones">
                        <a href="#" class="icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{{/partial}}

{{> layout.hbs}}