{{#partial "content" }}
    welcome to members of team
{{/partial}}

<!--members.hbs.-->
{{#partial "content"}}

<div class="vcenter">
    <section class="section">
        <div class="container">
            <header class="section-header">
                <h1 class="section-title">Our Team</h1>
                <p>Responsive Team modules using jquery and CSS only</p>
            </header>
            <ul class="team">
                <li class="team__members">
                    <div class="userProfile" >
                        <figure class="userProfile__thumbnail">
                            <img src="https://randomuser.me/api/portraits/men/28.jpg" alt="Photo" class="userProfile__image">
                        </figure>


                    </div>
                    <div class="team__details">
                        <header class="team__meta">
                            <h3 class="team__meta__title">Javier Bates</h3>
                            <div class="team__meta__designation">Software Developer</div>
                        </header>
                        <div class="team__details__summery">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem, consequatur dolores excepturi esse.
                        </div>
                    </div>
                </li>
                <li class="team__members">
                    <div class="userProfile"  >
                        <figure class="userProfile__thumbnail">
                            <img src="https://randomuser.me/api/portraits/women/45.jpg" alt="Photo" class="userProfile__image">
                        </figure>


                    </div>
                    <div class="team__details">
                        <header class="team__meta">
                            <h3 class="team__meta__title">Stacey Cooper</h3>
                            <div class="team__meta__designation">Software Developer</div>
                        </header>
                        <div class="team__details__summery">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem, consequatur dolores excepturi esse.
                        </div>
                    </div>
                </li>

                <li class="team__members">
                    <div class="userProfile"  >
                        <figure class="userProfile__thumbnail">
                            <img src="https://randomuser.me/api/portraits/women/73.jpg" alt="Photo" class="userProfile__image">
                        </figure>


                    </div>
                    <div class="team__details">
                        <header class="team__meta">
                            <h3 class="team__meta__title">Heidi Carpenter</h3>
                            <div class="team__meta__designation">Software Developer</div>
                        </header>
                        <div class="team__details__summery">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem, consequatur dolores excepturi esse.
                        </div>
                    </div>
                </li>
                <li class="team__members">
                    <div class="userProfile" >
                        <figure class="userProfile__thumbnail">
                            <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="Photo" class="userProfile__image">
                        </figure>


                    </div>
                    <div class="team__details">
                        <header class="team__meta">
                            <h3 class="team__meta__title">Jeremy Weaver</h3>
                            <div class="team__meta__designation">Software Developer</div>
                        </header>
                        <div class="team__details__summery">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate exercitationem, consequatur dolores excepturi esse.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>

{{/partial}}

{{> layout.hbs}}