{{#partial "title" }}
    welcome to members of team
{{/partial}}

<!--members.hbs.-->
{{#partial "content"}}
    <div class="about__section"> <!-- Specificity container -->
        <a href="javascript:void(0);" title="Koby Conrad - CEO"><div class="about__slot">
            <div class="headshot" onclick="biograph(this.parentNode);" style="background-image:url('images/rachel.jpg');"></div>
            <div class="about__info">
                <h4 class="name">Uwimana Rachel</h4>
                <h5 class="title">mobile application</h5>
            </div>
            <div class="bioText"><h3>Uwimana Rachel is a lorem ipsum dalor set amet consectur adipscing.</h3></div>

        </div></a><a href="javascript:void(0);" title="Nicholas Butler - CTO"><div class="about__slot bio">

            <div class="headshot" onclick="biograph(this.parentNode);" style="background-image:url('/images/emma.jpg');"></div>

            <div class="about__info">
                <h4 class="name">Nyirate Emma</h4>
                <h5 class="title">Chief Technology Officer</h5>
            </div>
            <div class="bioText">
                <h3>Nyirate emmais a mobile application  developer, graphic designer, and entrepreneur.</h3>
            </div>


        </div></a><a href="javascript:void(0);" title="Riley Brunet - Creative Director"><div class="about__slot"><div class="headshot" onclick="biograph(this.parentNode);" style="background-image:url('images/cloudine.jpeg');"></div>
            <div class="about__info">
                <h4 class="name">Umuhire claudine</h4>
                <h5 class="title">Mobile application </h5>
            </div>
            <div class="bioText"><h3>Umuhire Claudine is a lorem ipsum dalor set amet consectur adipscing.</h3></div>

        </div></a><a href="javascript:void(0);" title="Harbor Neher - Account Manager"><div class="about__slot">
            <div class="headshot"  onclick="biograph(this.parentNode);" style="background-image:url('/images/flower.JPG');"></div>

            <div class="about__info">
                <h4 class="name">Umurerwa L.Flower</h4>
                <h5 class="title">Mobile application</h5>
            </div>
            <div class="bioText"><h3>Harbor Neher is a lorem ipsum dalor set amet consectur adipscing.</h3></div>

<!--        </div></a><a href="javascript:void(0);" title="Sarah Spoja - Staff Writer"><div class="about__slot">-->
<!--            <div class="headshot" onclick="biograph(this.parentNode);" style="background-image:url('http://placekitten.com/284/284');"></div>-->

<!--            <div class="about__info">-->
<!--                <h4 class="name">Sarah Spoja</h4>-->
<!--                <h5 class="title">Staff Writer</h5>-->
<!--            </div>-->
<!--            <div class="bioText">Sarah Spoja is a lorem ipsum dalor set amet consectur adipscing.<br><br>f g+ tw li</div>-->


<!--        </div></a><a href="javascript:void(0);" title="Malik Ali - Account Manager"><div class="about__slot">-->
<!--            <div class="headshot"  onclick="biograph(this.parentNode);" style="background-image:url('http://placekitten.com/294/294');"></div>-->

<!--            <div class="about__info">-->
<!--                <h4 class="name">Malik Ali</h4>-->
<!--                <h5 class="title">Account Manager</h5>-->
<!--            </div>-->
<!--            <div class="bioText">Malik Ali is a lorem ipsum dalor set amet consectur adipscing.<br><br>f g+ tw li</div>-->

<!--        </div></a>-->

    </div>


    <!--members.hbs.-->
{{/partial}}

{{> layout.hbs}}