{{#partial "content" }}
    welcome to members of team
{{/partial}}

<!--members.hbs.-->
{{#partial "content"}}

    <section class="our-team-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="images/rachel.jpg" height="150px">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Uwimana Rachel</h3>
                            <br>
                            <span class="post"><strong>Mobile application developer</strong></span><p><br>"One of my most productive days was throwwing away 1000 lines of code  </p>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#"  target="_blank"class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="images/flower.JPG">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Umurerwa L.Flower</h3>
                             <br>
                            <span class="post"><strong>Mobile application </strong></span><br><p>“Progress is possible only if we train ourselves to think about programs without thinking of them as pieces of executable code.” </p>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="images/cloudine.jpeg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Umuhire Claudine</h3>
                            <br>
                            <span class="post"><strong>Mobile application</strong> </span><p>“Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live”</p>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="images/emma.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Nyirate Emma</h3>
                           <br>
                            <span class="post"><strong>Mobile application</strong> </span><p>“Any code of your own that you haven’t looked at for six or more months might as well have been written by someone else.” </p>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--members.hbs.-->
{{/partial}}

{{> layout.hbs}}