{{#partial "content" }}
    welcome to members of team
{{/partial}}

<!--members.hbs.-->

{{#partial "content"}}

    <div class="container gek-content-padd">
        <div class="row gek-content">
            <h1>Our Team in our Company</h1>

            <div class="col-md-5 col-xs-7 teamitem">
                <div class="teamitem-inner">
                    <div class="img-team-outer"><img src="images/raissa.jpeg" class="img-responsive img-team" height="600" width="600" /></div>
                    <p class="team-name">Muyenzi Raissa</p>
                    <p class="teamname-title">Mobile application</p>
                    <p class="team-wichmagazine">“One of the best programming skills you can have is knowing when to walk away for awhile.” </p>
                    <hr />
                </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-7 teamitem">
                <div class="teamitem-inner">
                    <div class="img-team-outer"><img src="images/honorine.jpg" class="img-responsive img-team" height="600" width="600" /></div>
                    <p class="team-name">Honorine</p>
                    <p class="teamname-title">Mobile application</p>
                    <p class="team-wichmagazine">“So much complexity in software comes from trying to make one thing do two things.”</p>
                    <hr />
                </div>
            </div>


            <div class="col-md-5 col-xs-7 teamitem">
                <div class="teamitem-inner">
                    <div class="img-team-outer"><img src="images/nicole.png" class="img-responsive img-team" height="600" width="600" /></div>
                    <p class="team-name">Nicole</p>
                    <p class="teamname-title">Mobile application</p>
                    <p class="team-wichmagazine">“Without requirements or design, programming is the art of adding bugs to an empty text file.”</p>
                    <hr>
                </div>
            </div>

            <div class="col-md-5 col-xs-7 teamitem">
                <div class="teamitem-inner">
                    <div class="img-team-outer"><img src="images/blandine.jpg" class="img-responsive img-team" height="600" width="600" /></div>
                    <p class="team-name"> Blandine</p>
                    <p class="teamname-title">mobile application</p>
                    <p class="team-wichmagazine">“The value of a prototype is in the education it gives you, not in the code itself.”</p>
                    <hr />
                </div>
            </div>
        </div>

{{/partial}}

{{> layout.hbs}}