
{{#partial "content"}}
    <section class="landing-pg">
         <div class="land-left"></div>
         <div class="land-right"></div>
         <div class="form">
          <form action="/form" method="post">
           <div class="login left flex-box">
           <h1>Welcome</h1>
              <p>It's a pleasure to see you here, fill the form to Subscribe a team</p>
           </div>

           <div class="outer">
             <div class="inner flex-box">
               <div class="sign-in overlay-form flex-box">

               </div>
               <div class="sign-up overlay-form flex-box">
                    <h1>Subscribe a Team</h1>
                        <input type="text" name="teamName" placeholder="Leader">
                        <input type="text" name="teamLeader" placeholder="Team Name">
                        <input type="text" name="email" placeholder="Email">
                        <button class="button-animate">Subscribe</button>
               </div>
             </div>
           </div>
          </div>
         </div>
    </section>
{{/partial}}
{{> layout.hbs}}
