{{#partial "content" }}
    welcome to members of team
{{/partial}}

<!--members.hbs.-->
{{#partial "content"}}

    <div class="wrapper">
        <!--membre 1-->
        <div class="membre">
            <img src="images/alice.jpg" alt="" >

            <div class="info">
                <h5 class="name">Mugengano Alice</h5>
                <p class="job">Mobile application</p>
            </div>

            <div class="overly top">
                <div class="middle">
                    <h5 class="name">Mugengano Alice</h5>
                    <p class="job">Mobile appplication</p>
                    <p class="text"><p>“That's the thing about people who think they hate computers. What they really hate is lousy programmers.”
                    </p>

                    <div class="social-icones">
                        <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--membre 2-->
        <div class="membre">
            <div class="img">
                <img src="images/tona.jpg" alt="" class="img">
            </div>
            <div class="info">
                <h5 class="name">Tona Daphin</h5>
                <p class="job">Mobile application</p>
            </div>
            <div class="overly left">
                <div class="middle">
                    <h5 class="name">Tona Daphin</h5>
                    <p class="job">Mobile application</p>
                    <p class="text"><p>“A language that doesn't affect the way you think about programming is not worth knowing.”
                    </p>

                    <div class="social-icones">
                        <a href="#" class="icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <!--membre 3-->
        <div class="membre">
            <div class="img">
                <img src="images/kimba.jpg" alt="" class="img">
            </div>
            <div class="info">
                <h5 class="name">Kimbagira Sylvie</h5>
                <p class="job">Mobile application</p>
            </div>
            <div class="overly left">
                <div class="middle">
                    <h5 class="name">Kimbagira Sylvie</h5>
                    <p class="job">Mobile application</p>
                    <p class="text"><p>““Object-oriented programming offers a sustainable way to write spaghetti code. It lets you accrete programs as a series of patches.””
                </p>

                    <div class="social-icones">
                        <a href="#" class="icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>


{{/partial}}

{{> layout.hbs}}